@model IEnumerable<demo.Models.Employee>
@using demo.Models; 

@{
    ViewBag.Title = "Employee List";    
}

<div>
    <h2>Employee List</h2>
    <ul>
        @foreach (Employee employee in @Model)
        {
            <li>@Html.ActionLink(employee.Name, "Details", new { id = employee.Id })</li>
        }
    </ul>
    @Html.ActionLink("Back to List", "Index","Department")
</div>
<div>
    ROHAN
</div>